.jumbotron-pics img {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.pics img {
	width: 250px;
	height: 250px;
}

.about-me img {
	width: 310px;
	height: 480px;
}

.contact-me img {
	width: 512px;
	height: 342px;
}

.list-o-things {
	text-align: left;
}

/*.temp-work img{
	width: 408px;
	height: 230px;
}*/
.tiny-text {
	
}

.social-media-buttons {

}

.social-media-button {

}